@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Reset & Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffeef5;
  padding: 60px 100px 0px;
}

/* Left Side */
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.3;
}

.sub-title {
  color: #555;
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 1.6;
}

.primary-btn {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #c2185b;
}

.right-side {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 48%;
  padding-left: 10px;
}

/* image */
.right-side img {
  display: block;
  width: 420px;
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
}
